* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}

.image {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

aside {
    padding: 0px 150px 0 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.aside-1 {
    padding: 0px 150px 0 150px;
    display: flex;
    flex-direction: row-reverse;
}

.container-aside {
    width: 60%;
    padding: 20px 0 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title-aside {
    color: #f40777;
    font-size: 40px;
}

.sub-title {
    font-size: 40px;
}

h2 {
    width: 60%;
    font-size: 50px;
    color: black;
}

.text {
    width: 100%;
    margin-bottom: 20px;
}

.text-1 {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

.container-aside-1 {
    width: 60%;
    padding: 0 0 20px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    font-size: 15px;
    text-decoration: none;
    color: white;
    background: #f54263;
    padding: 10px 25px 10px 25px;
    border-radius: 50px 50px 50px 50px;
    width: 15%;
}

.image-aside {
    margin: 0;
    width: 45%;
    vertical-align: bottom;
    height: 400px;
}

section {
    background-image: url("../images/john-raptis.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    height: 360px;
    padding: 100px;
    
    
}

.container-article {
    width: 50%;
    color: white;
}

.sub-title-1 {
    color: white;
}

footer {
    color: white;
    background: #f54263;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}

.item-li {
    margin-bottom: 20px;
}

li {
    padding-bottom: 10px;
}

ul {
    list-style: none;
    margin-right: 10px;
}

hr {
    margin: 0 100px 0 100px;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 115px;
}

/* .Texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: white;
}

.Contenedor {
    padding: 100px 40px 20px 100px;  
}

.Tittle {
    font-weight: 700;
    font-size:25px;
    color: radial-gradient(circle at 50% -20.71%, #eb8832 0, #f07c35 8.33%, #f46f39 16.67%, #f65f3e 25%, #f64d44 33.33%, #f4364a 41.67%, #f10e51 50%, #ec0059 58.33%, #e60063 66.67%, #de006e 75%, #d4007a 83.33%, #c80087 91.67%, #b90096 100%);
    color: orange;
}

.Sub-titlte {
    font-weight: 700;
    font-size: 25px;
}

.image1 {
    padding: 40px 40px 20px 50px; 
    width: 500px;
}

 */
